.sidebar {
  width: 220px;
  min-height: 100vh;

  background-color: #081028;

  color: white;

  display: flex;
  flex-direction: column;

  padding: 20px;

  position: sticky;
  top: 0;
}

.sidebar-logo {
  font-size: 2.2rem;
  font-weight: 700;

  margin-bottom: 40px;

  color: #a855f7;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.menu-item {
  display: flex;
  align-items: center;

  gap: 16px;

  padding: 16px 18px;

  border-radius: 10px;

  color: white;
  text-decoration: none;

  transition: all 0.3s ease;
}

.menu-item:hover {
  background-color: #1e293b;

  transform: translateX(4px);
}

.menu-item.active {
  background-color: #312e81;
  border-left: 4px solid #a855f7;
}
.menu-item svg {
  font-size: 1.4rem;
}

.menu-item span {
  font-size: 1.2rem;
  font-weight: 600;
}

